@use "../../styles/variables";
@use "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.bookList {
  padding: 2rem 0;
  position: relative;
  min-height: 35vh;
  &__result {
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    transition: 0.1s;
  }
  &__load__more {
    margin: 0 auto;
    border: none;
    padding: 0.5em 1rem;
    color: white;
    background: variables.$primary;
    display: block;
    font-size: 1.5rem;
    border-radius: variables.$mobileBorderRadius;
    margin-top: 2rem;
    box-shadow: 0px 1px 2px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: transform 0.1s;
    &:hover {
      transform: scale(1.05);
    }
    &:disabled {
      background: rgb(92, 92, 92);
      opacity: 0.3;
    }
  }
  &__noBooks {
    @include mixins.font(50, 30);
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 8px;
    text-align: center;
    font-family: "Bebas Neue", cursive;
  }
}
